.my-container {
	max-width: : 1200px;
	margin 0 auto;
	padding: 10px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

}

#hero {
	text-align: center
}

#hero p {
	font-family: 'Merriweather', serif;
	font-style: italic
}
