	*{
		margin:0;
		padding:0;
	}
/*
	div{
		outline:2px solid black;
	}
	
*/
	h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size:5em;
	}

	.slogan{
		font-family: 'Merriweather', serif;
		font-style: italic;
		line-height: 2em;
		font-size:2em;
	}


	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size:4em;
	}

	h3{
		font-family: 'Montserrat', sans-serif;
		size:4em;
	}

	p{
		font-family: 'Montserrat', sans-serif;
		size:1em;
	}

	.description{
		width:75%;
		margin:auto;
	}	

	.demo-left-div h2{
		line-height: 1em; 
	}
	.demo-left-div h3{
	
		line-height: 2em; 
	}


	.scroll-icon{
		position: absolute;
		bottom:0%;
		width:100%;
		font-size:1em;
	}	

	.scroll-icon div{
		margin:auto;
	}

	.scroll-icon p{
	font-size:1em;
	}

	.2-col-scroll{
		padding-bottom: 5%;
	}



	.Aligner {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}

	.Aligner-item {
	  max-width: 50%;
	}

	.Aligner-item--top {
	  align-self: flex-start;
	}

	.Aligner-item-feature {
	  max-width: 80%;
	}


	.demo-left-div{
		width: 80%;
		margin-left: 45%;
	}

	.demo-right-div{
		width: auto;
		margin-right: 45%;
	}

	.app{
		padding:auto;
	}

	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		width:auto;
		max-height:500px;
	}





	.feature-1{
		padding-left: 0;
		padding-right: 15%;
		border-right:2px;
		border-right-style: groove;
	}

	.feature-2{
		padding-left: 3%;
		padding-right: 15%;
		border-right:2px;
		border-right-style: groove;
	}

	.feature-3{
		padding-left: 3%;
		padding-right: 15%;
		border-right:2px;
		border-right-style: groove;
	}

	.feature-4{
		padding-left: 3%;
		padding-right: 0px;
	}




	.feature-header{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size:2em;

	}

	.email-form{
		padding-top: 3%;
	}

	.social-icons{
		display: flex;
		width:15%;
		min-width: 100px;
		align-items: center;
		position: relative;
		padding-top: 3%;
		margin:auto;
		align-content: center;

	}

	.social-icons div{
		font-size: 2em;
	}

	.social-left{
		float: left;
	    margin-right: 5%;

	}

	.social-center{
		float: left;
	    margin:auto;

	}
		
	.social-right{
		float: left;
	    margin-left: 5%;	
	}

	a:hover, a:visited, a:link, a:active{
    	text-decoration: none;
    	color:black;
	}


/*UIkit mini*/
@media screen and (min-width: 0px) and (max-width: 478px) {
	h1{
	font-size:9vw;
	}

	h2{
	font-size:9vw;
	}

	h3{
	display:none;
	}

	p{
		font-family: 'Montserrat', sans-serif;
		size:1em;
	}


	.feature{
		text-align: center;
	}

	.feature h3{
	display:none;
	}

	.feature p{
	display:none;
	}

	.feature-1{
		border-right:0;
	}

	.feature-2{
		border-right:0;
	}


	.feature-3{
		border-right:0;
	}

	.feature-4{
		border-right:0;
	}


	.feature-header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:5vw;
	}

	.slogan{
	font-size:5vw;
	}

	.scroll-icon p{
	font-size:3vw;
	}
	
	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.Aligner-item {
	  max-width: 50%;
	  height:auto;
	}

	.app{
	  max-width: 50%;
	  height:auto;

	}

	.demo-left-div{
	width: auto;
	margin: 0;
	padding: auto;
	}

	.demo-right-div{
	width:auto;
	margin:auto;
	padding: auto;
	max-height: 20%;
	}

	.app{
	padding-top:10%;
	}

	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		width:auto;
	}


	.feature{
		padding-left: 0;
		padding-right: 0;
	}

	.social-icons div{
	font-size: 6vw;
	}

}

/*UIkit small*/
@media screen and (min-width: 479px) and (max-width: 767px) {
	h1{
	font-size:7vw;
	}

	h2{
	font-size:6vw;
	}

	h3{
	font-size:2vw;
	}

	p{
		font-family: 'Montserrat', sans-serif;
		size:1em;
	}


	.slogan{
	font-size:3vw;
	}

	.scroll-icon p{
	font-size:2vw;
	}


	.feature{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	}
	
	.feature h3{
	display:none;
	}

	.feature p{
	display:none;
	}

	.feature-2{
		border-right:0;
	}

	.feature-header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:4vw;
	}



	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}
	
	.demo-left-div{
		width: 80%;
		margin-right: 15%;
	}

	.demo-right-div{
		width: auto;
		margin-left: 5%;
	}

	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		margin-left: 10%;
		width:auto;
	}



	.social-icons div{
	font-size: 4vw;
	}

}

/*UIkit medium*/
@media screen and (min-width: 768px) and (max-width:959px) {
	h1{
	font-size:9vw;
	}

	h2{
	font-size:6vw;
	}

	h3{
	font-size:2vw;
	}

	p{
		font-family: 'Montserrat', sans-serif;
		size:1em;
	}

	.slogan{
	font-size:3vw;
	}
	
	.scroll-icon p{
	font-size:2vw;
	}

	.feature{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	}



	.feature h3{
	display:none;
	}

	.feature p{
	display:none;
	}

	.feature-header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:4vw;
	}


	.feature-2{
		border-right:0;
	}

	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}
	
	
	.demo-left-div{
		width: 80%;
		margin-left: 35%;
	}

	.demo-right-div{
		width: auto;
		margin-right: 35%;
	}


	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		width:auto;
		max-height:300px;
	}



	.social-icons div{
		font-size: 4vw;
	}


}

/*UIkit large*/
@media screen and (min-width: 960px){

	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}

	.Aligner-item {
	  max-width: 50%;
	}


	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		width:auto;
		max-height:500px;
	}


	.demo-left-div{
		width: 80%;
		margin-left: 45%;
	}

	.demo-right-div{
		width: auto;
		margin-right: 45%;
	}



}

/*UIkit extra large*/
@media screen and (min-width: 1220px){
	.Aligner-left {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}

	.Aligner-right {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}

	.Aligner-item {
	  max-width: 50%;
	}


	.app img{
		overflow: hidden;
		display:block;
		margin: auto;
		width:auto;
		max-height:520px;
	}


	.demo-left-div{
		width: 80%;
		margin-left: 50%;
	}

	.demo-right-div{
		width: auto;
		margin-right: 50%;
	}

}


/* UIKit Custom 7 column grid https://github.com/uikit/uikit/issues/217
/*  .uk-width-1-7 { width: 14.28%; }
.uk-width-2-7 { width: 28.57%; }
.uk-width-3-7 { width: 42.85%; }
.uk-width-4-7 { width: 57.14%; }
.uk-width-5-7 { width: 71.42%; }
.uk-width-6-7 { width: 85.71%; }

@media (min-width: @breakpoint-1) {
    .uk-width-1-7 { width: 14.28%; }
    .uk-width-2-7 { width: 28.57%; }
    .uk-width-3-7 { width: 42.85%; }
    .uk-width-4-7 { width: 57.14%; }
    .uk-width-5-7 { width: 71.42%; }
    .uk-width-6-7 { width: 85.71%; }
}

@media (min-width: @breakpoint-2) {
    .uk-width-1-7 { width: 14.28%; }
    .uk-width-2-7 { width: 28.57%; }
    .uk-width-3-7 { width: 42.85%; }
    .uk-width-4-7 { width: 57.14%; }
    .uk-width-5-7 { width: 71.42%; }
    .uk-width-6-7 { width: 85.71%; }
}

@media (min-width: @breakpoint-3) {
    .uk-width-1-7 { width: 14.28%; }
    .uk-width-2-7 { width: 28.57%; }
    .uk-width-3-7 { width: 42.85%; }
    .uk-width-4-7 { width: 57.14%; }
    .uk-width-5-7 { width: 71.42%; }
    .uk-width-6-7 { width: 85.71%; }
}

@media (min-width: @breakpoint-4) {
    .uk-width-1-7 { width: 14.28%; }
    .uk-width-2-7 { width: 28.57%; }
    .uk-width-3-7 { width: 42.85%; }
    .uk-width-4-7 { width: 57.14%; }
    .uk-width-5-7 { width: 71.42%; }
    .uk-width-6-7 { width: 85.71%; }
}

@media (min-width: @breakpoint-5) {
    .uk-width-1-7 { width: 14.28%; }
    .uk-width-2-7 { width: 28.57%; }
    .uk-width-3-7 { width: 42.85%; }
    .uk-width-4-7 { width: 57.14%; }
    .uk-width-5-7 { width: 71.42%; }
    .uk-width-6-7 { width: 85.71%; }
}*/